#container{ 
    display: flex;
    justify-content: center;
}

#container img {
    width: 23%;
    border-radius: 5px;
}
#card-div {
    width: 42%;
}

#container h1{
    font-size: 20px;
    margin: 16px;
}

#card-div h1{
    width: 130%;
}

#card-text p {
    width: 140%;
    margin: 16px;
    font-size: 18px;
}

#stock{
    margin-top: auto;
}