.navbar-imagen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: #ffffff ;
}

.navbarContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    color: Black;
    font-size: 22px;
    font-weight: 800;
    background-color: #6ae9e9;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

.container{
    background-color: #6ae9e9 ;
}


.navbarContainer:hover{
    color: rgb(142, 2, 142);
}

.navbarContainer:active{
    color: blue;
}

.navbarContainerLink{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    align-items: center;

}


.imgContacto img{
    display: flex;
    justify-content: end;
    width: 25px;
    margin-right: 10px;
}


.imgCarrito img{
    display: flex;
    justify-content: end;
    width: 25px;
    margin-right: 21px;
    color: blueviolet;
}

#numeroDeCarrito{
    margin: 1px;
    
}