.navbar-brand, .nav-link {
    font-size: 1.25rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.navbar-nav {
    flex-direction: row; /* Asegura que los ítems del menú estén en una fila */
}

.cart-widget {
    margin-left: 15px; /* Espacio entre el carrito y los enlaces de navegación */
}


